.IconSelect {
  .i-s-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: box-shadow .3s, border .3s;
    &--active {
      border-bottom: 1px solid #26a69a;
      box-shadow: 0 1px 0 0 #26a69a;
    }
    &__text {
      width: calc(100% - 30px);
    }
    &__icon {
      width: 30px;
    }
  }
  .i-s-body {
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    padding: 10px 5px;
    height: 340px;
    display: grid;
    overflow-y: auto;
    .material-icons {
      cursor: pointer;
    }
  }
}
