.CategoryBuilder {
  .modal {
    width: 400px;
    height: 600px;
    .modal-content {
      height: calc(600px - 60px);
    }
    .modal-footer {
      display: flex;
      justify-content: space-between;
      padding-right: 22px;
      padding-left: 22px;
    }
  }
}
