.CategoryItemCircle {
  .card {
    .card-title {
      text-align: center;
    }
    .card-content {
      padding: 12px;
      .card-icon {
        text-align: center;
        .material-icons {
          font-size: 72px;
          cursor: pointer;
        }
      }
      .card-value {
        text-align: center;
        margin-top: 10px;
      }
    }
    .card-action {
      .edit {
        margin-right: 0 !important;
      }
    }
  }
}
