.Categories {
  .header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: .75rem;
    .title {
      margin-top: 1.68rem;
    }
  }
  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
